.brand-font {
  font-family: Arupala, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.brand-font-common {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.main-font {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.main-font-light {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.main-font-bold {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.accent {
  color: var(--brand-accent);
}

.reorder {
  display: flex;
  flex-direction: column-reverse;
}

.uppercase {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
